In [8]:
library(dplyr)
library(tidyverse)
library(tibble)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ stringr 1.4.0
✔ tidyr   1.1.3     ✔ forcats 0.5.1
✔ readr   2.0.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Task 1: Data Transformation

In [9]:
#input file
CA_data=read.csv("/Users/apple/Desktop/Scraping_Practice/CA_spider/CA_data.csv",header=T,skip=1)

In [10]:
#extract RTKs info for year 2019,2020,2021 & 2022(until May)
RTK_ttl<-data.frame(CA_data[seq(1,1968,48),3])
RTK_domestic<-data.frame(CA_data[seq(2,1968,48),3])
RTK_internal<-data.frame(CA_data[seq(3,1968,48),3])
RTK_regional<-data.frame(CA_data[seq(4,1968,48),3])
Date<-c(seq(as.Date("2019/1/1"), as.Date("2022/5/1"), "months"))

#combined Rows
CA_RTK<-cbind(Date,RTK_ttl,RTK_domestic,RTK_internal,RTK_regional)

#add colname to df
colnames(CA_RTK)<- c("Date","RTK_ttl","RTK_domestic","RTK_internal","RTK_regional")

In [14]:
head(CA_RTK,5)
#export to csv
write.csv(CA_RTK,"CA_RTK.csv", row.names = FALSE)

  Date       RTK_ttl  RTK_domestic RTK_internal RTK_regional
1 2019-01-01 2066.235 1104.6       884.6        77.1
2 2019-02-01 1895.1   1066.7       755.5        72.9
3 2019-03-01 2117.2   1132.9       907.4        77
4 2019-04-01 2123.7   1101         941.3        81.4
5 2019-05-01 2151.8   1120.1       950.8        80.9

In [12]:
#extract RPKs info for year 2019,2020,2021 & 2022(until May)
RPK_ttl<-data.frame(CA_data[seq(5,1968,48),3])
RPK_domestic<-data.frame(CA_data[seq(6,1968,48),3])
RPK_internal<-data.frame(CA_data[seq(7,1968,48),3])
RPK_regional<-data.frame(CA_data[seq(8,1968,48),3])
Date<-c(seq(as.Date("2019/1/1"), as.Date("2022/5/1"), "months"))

#combined Rows
CA_RPK<-cbind(Date,RPK_ttl,RPK_domestic,RPK_internal,RPK_regional)

#add colname to df
colnames(CA_RPK)<- c("Date","RPK_ttl","RPK_domestic","RPK_internal","RPK_regional")

In [16]:
head(CA_RPK,5)
write.csv(CA_RPK,"CA_RPK.csv", row.names = FALSE)

  Date       RPK_ttl RPK_domestic RPK_internal RPK_regional
1 2019-01-01 18930.6 10960.5      7216.3       753.7
2 2019-02-01 18700.6 11410.8      6545.3       744.5
3 2019-03-01 19117.4 11237.8      7140.2       739.4
4 2019-04-01 19224.8 10961.3      7473         790.5
5 2019-05-01 19399.9 11179.4      7440.2       780.4